.projectArea{
    padding: 15px;
    background-color: var(--grey-light) ;
    border-radius: 2rem;
}
.projectAreaTitle{
    font-family: var(--font-openSans);
    display: flex;
    flex-direction:column;
    color: black;
    margin: 15px;
}
.title{
    letter-spacing: var(--letter-spacing);
    font-size: 4rem;
    font-weight: 200;
}
.subTitle{
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: var(--letter-spacing);
}
.projects{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 20px;
}
.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.1s ease, transform 1s ease;
    border-radius: 2rem;
    background-color: var(--black);
    min-height: min-content;
    margin: 20px 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
  }

.projectsContent{
    border-radius: 2rem;
    background-color: var(--black);
    min-height: min-content;
    margin: 20px 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    opacity: 1;
    transform: translateY(50px);
}

.projectsContentTop{
    width: 100%;
    height: 70%;
    border-radius: 2rem;
    overflow: clip;
    object-fit: cover;
}
.projectsContentBottom{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 10px 0;
    min-height: fit-content;
    padding: 15px;
    color: #fff;
}

.projectsImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.projectsImg:hover {
    transform: scale(1.1);
}

.projectsContentBottomTitle{
    font-family: var(--font-openSans);
    font-size: 1.5rem;
}


/* tablet */
@media (min-width: 850px) and (max-width: 1024px) {
    .projects{
        grid-gap: 10px;
    }
    .title{
        letter-spacing: var(--letter-spacing);
        font-size: 3rem;
        font-weight: 200;
    }
    .subTitle{
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: var(--letter-spacing);
    }
    .projectArea{
        padding: 10px;
        border-radius: 1.7rem;
    }
    .projectsContent{
        border-radius:  1.7rem;
    }
    .projectsContentTop{
        border-radius:  1.7rem;
    }
    .show{
        border-radius: 1.7rem;
    }
    .projectsContentBottomTitle{
        font-family: var(--font-openSans);
        font-size: 1.1rem;
    }
    .viewButton {
        padding: 0.01rem 0.3rem;
        gap: .1rem;
        font-size: 0.5rem;
        line-height: 115%;
    }
}
/* tablet */
@media (min-width: 768px) and (max-width: 850px) {
    .projects {
        display: flex;
        flex-direction: column;
    }
    .projectArea{
        padding: 5px;
        border-radius: 1.7rem;
    }
    .projectsContent{
        border-radius:  1.7rem;
    }
    .projectsContentTop{
        border-radius:  1.7rem;
    }
    .show{
        border-radius: 1.7rem;
    }
    .viewButton {
        padding: 0.3rem 1rem;
        gap: .1rem;
        font-size: 0.5rem;
        line-height: 115%;
    }
    .projectsContentBottomTitle{
        font-family: var(--font-openSans);
        font-size: 1.1rem;
    }
    .title{
        letter-spacing: var(--letter-spacing);
        font-size: 3rem;
        font-weight: 200;
    }
    .subTitle{
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: var(--letter-spacing);
    }
}
/* mini tablet */
@media (min-width: 481px) and (max-width: 767px) {
    .projects {
        display: flex;
        flex-direction: column;
    }
    .projectArea{
        padding: 5px;
        border-radius: 1.7rem;
    }
    .projectsContent{
        border-radius: 1.7rem;
    }
    .projectsContentTop{
        border-radius:  1.7rem;
    }
    .show{
        border-radius:  1.7rem;
    }
    .viewButton {
        padding: 0.1rem 0.5rem;
        gap: .1rem;
        font-size: 0.5rem;
        line-height: 115%;
    }
    .projectsContentBottomTitle{
        font-family: var(--font-openSans);
        font-size: 1.2rem;
    }
    .title{
        letter-spacing: var(--letter-spacing);
        font-size: 1.5rem;
        font-weight: 200;
    }
    .subTitle{
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: var(--letter-spacing);
    }
}
/* telefon */
@media screen and (max-width: 480px) {
    .projectArea{
        padding: 5px;
        border-radius: 1rem;
    }
    .projectsContent{
        border-radius: 1rem;
    }
    .projectsContentTop{
        border-radius: 1rem;
    }
    .show{
        border-radius: 1rem;
    }
    .projects{
        display: flex;
        flex-direction: column;
    }
    .viewButton {
        padding: 0.05rem 0.3rem;
        gap: .1rem;
        font-size: 0.3rem;
        line-height: 115%;
    }
    .projectsContentBottomTitle{
        font-family: var(--font-openSans);
        font-size: 1.2rem;
    }
    .title{
        letter-spacing: var(--letter-spacing);
        font-size: 1.5rem;
        font-weight: 200;
    }
    .subTitle{
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: var(--letter-spacing);
    }
}