.projectsBackground{
    background: #fff;
    min-height: 100vh;
}
.title{
    font-family: "HelveticaNeueCyr Light", sans-serif;
    color: black;
    padding-top: 100px
}
.projects{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.projectsContent{
    background: #4d5f; 
    border-radius: 2.5rem;
    object-fit: contain;
}
.projectsImg{
    width: 100%;
  
}