:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  --background-color: rgb(245, 242, 247);
  --text-color: black;
  --button-color: rgb(75, 0, 150);
  --button-text-color: rgb(255, 255, 255);
  --ticket-background-color: rgb(255, 255, 255);
  --check-button-color: rgb(227, 222, 233);
  --icon-color: rgb(75, 0, 150);
  --white: #FFF;
  --black: #1A1A1A;
  --grey: #A3A3A3;
  --grey-light: #F6F6F6;
  --yellow: #FFDC1F;
  --blue: #005CFF;
  --font-default: "HelveticaNeueCyr Roman", sans-serif;
  --font-light: "HelveticaNeueCyr Light", sans-serif;
  --transition-speed: cubic-bezier(.28, .11, .32, 1);
  --transition-fast: .21s var(--transition-speed);
  --transition-default: .42s var(--transition-speed);
  --transition-slow: 1.32s var(--transition-speed);
  --header-spacer: 5rem;
  --section-spacer: 10rem;
  --border-default: 0.125rem solid var(--black);
  --close-size: 2rem;
  --letter-spacing: -0.05em;
  --scale-pos: 1.1;
}

[data-theme="dark"] {
  --background-color: rgb(0, 0, 0);
  --text-color: rgb(227, 222, 233);
  --button-color: rgb(75, 0, 150);
  --button-text-color: rgb(255, 255, 255);
  --ticket-background-color: rgb(255, 255, 255);
  --check-button-color: rgb(227, 222, 233);
  --icon-color: rgb(227, 222, 233);
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
